# Ignore testing
testing/

# ignore python cache
__pycache__/

# Ignore the "logs" directory
logs/

# Ignore the "venv" directory
venv/

# Ignore the first version of AI Clipboard Manager
.AI_Clipboard_Assistant.py
.DS_Store